@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Inter:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-950 text-white font-sans overflow-x-hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-oswald uppercase;
  }
}
